body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5a5959;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #3e3d3d;
}

p {
    text-align: center;
    color: white;
}

.feedback {
    text-align: center;
    color: #666;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.contact-info,
.social-media {
    background-color: #484747;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h3,
.social-media h3 {
    color: #d43302;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.contact-info li,
.social-media li {
    margin-bottom: 10px;
    color: white;
}

.contact-info strong,
.social-media strong {
    color: white;
}

.social-media a {
    display: block;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-bottom: 10px;
}

.social-media a:hover {
    color: #0056b3;
}

.container .contact-form form {
    position: relative;
    left: -12px;
}

.contact-form form button {
    position: relative;
    right: -12px;
}